html, body {
    background-color: black;
    color: white;
    font-family: "Press Start 2P", sans-serif;
}

p {
    font-size: 18px;
    line-height: 1.4;
    transform: scaleX(.75);
    transform-origin: left;
    width: calc(100% / 0.75);
}

.main-container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.game-container {
    width: 650px;
    margin: auto;
}

.character-select {
    display: flex;
    justify-content: center;
}

.choice {
    position: relative;
    border: 3px solid transparent;
    margin: 0 10px 30px;
    text-align: center;
}

.choice:hover {
    border: 3px solid white;
    cursor: pointer;
}

.choice img {
    width: 70%;
}

.choice p {
    margin-bottom: 2px;
}

.choice span {
    display: block;
    margin-bottom: 15px;
}

.active {
    border: 3px solid white;
}

.textbox {
    border: 3px solid white;
    height: 100px;
    padding: 20px 0;
    position: relative;
}

.textbox p {
    box-sizing: border-box;
    padding: 0 40px;
}

.textbox .fa-caret-down {
    position: absolute;
    right: 15px;
    bottom: 10px;
    font-size: 25px;
}

.questions {
    display: flex;
    justify-content: center;
    margin: 15px auto 0;
    width: 50%;
}

.questions p {
    padding: 0;
    transform-origin: center;
}

.answer-container {
    position: relative;
    margin: 0 15px;
}

.continue-caret, .restart-caret {
    position: absolute;
    display: none;
    bottom: 5px;
    font-size: 17px;
}

.continue-caret {
    left: 5px;
}

.restart-caret {
    left: 0px;
}

.continue, .restart {
    cursor: pointer;
}


.your-damage, .enemy-damage {
    display: inline-block;
    transform: scaleY(.9);
}

@media screen and (max-width: 716px) {
    .game-container {
        width: 95%;
    }
}