html, body {
    background-color: black;
    color: white;
    font-family: "Press Start 2P", sans-serif;
}

p {
    font-size: 18px;
    line-height: 1.4;
    transform: scaleX(.75);
    transform-origin: left;
    width: calc(100% / 0.75);
}


.main-container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.game-container {
    width: 650px;
    margin: auto;
}

.character-select {
    display: flex;
    justify-content: center;
}

.choice {
    position: relative;
    border: 3px solid transparent;
    margin: 0 10px 30px;
    text-align: center;
}

.choice-hover:hover {
    /* border: 3px solid white; */
    cursor: pointer;
}

.choice img {
    width: 92px;
}

.choice p {
    margin-bottom: 2px;
}

.choice span {
    display: block;
    margin-bottom: 15px;
}

.active {
    border: 3px solid white;
}

.pointer-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pointer {
    position: absolute;
    top: -45px;
}

.pointer span {
    margin-bottom: 2px;
}

.menu {
    display: flex;
}

.options {
    width: 23%;
    border: 3px solid white;
    border-right: 0px solid white;
    padding: 20px 0;
}

.options span {
    display: inline-block;
    transform: scaleX(.75);
    transform-origin: left;
    font-size: 18px;
    line-height: 1.5;
    /* margin: 0 10px; */
}

.options span:hover {
    color: yellow;
    cursor: pointer;
}

.option-items {
    margin: 0 30px;
}

.textbox {
    border: 3px solid white;
    height: 100px;
    padding: 20px 0;
    position: relative;
}

.textbox p {
    box-sizing: border-box;
    padding: 0 40px;
    line-height: 1.5;
}

.textbox p span {
    display: inline-block;
    transform: scaleX(1.3);
    font-size: 16px;
}

.textbox .fa-caret-down {
    position: absolute;
    right: 15px;
    bottom: 10px;
    font-size: 25px;
}

.questions {
    display: flex;
    justify-content: center;
    margin: 15px auto 0;
    width: 50%;
}

.questions span:hover {
    color: yellow;
}

.continue, .restart {
    cursor: pointer;
    display: inline-block;
    transform: scaleX(.75);
    font-size: 18px;
}

@media screen and (max-width: 716px) {
    .game-container {
        width: 95%;
    }
}